<head>
	<meta charset="UTF-8">

	<meta name="author" content="DmitriyRF">
	<meta name="description" content="The Landing page that tell as increase the wordpress site speed and performance">

	<!-- <meta property="og:image" content=""> -->
	<!-- <meta property="og:description" content=""> -->
	<!-- <meta property="og:title" content="WordPress site performance"> -->

	<!-- <meta name="twitter:title" content="WordPress site performance"> -->

	<!-- third-generation iPad with high-resolution Retina display: -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://developer.cdn.mozilla.net/static/img/favicon144.a6e4162070f4.png"> -->
	<!-- iPhone with high-resolution Retina display: -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://developer.cdn.mozilla.net/static/img/favicon114.0e9fabd44f85.png"> -->
	<!-- first- and second-generation iPad: -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://developer.cdn.mozilla.net/static/img/favicon72.8ff9d87c82a0.png"> -->
	<!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<!-- <link rel="apple-touch-icon-precomposed" href="https://developer.cdn.mozilla.net/static/img/favicon57.a2490b9a2d76.png"> -->
	<!-- basic favicon -->
	<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>{{ include.document_title }}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"  crossorigin="anonymous">
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | relative_url }}" />
</head>