@import "hightlight.scss";

/**************************************************************************************
	                     _         _      _            
	                    (_)       | |    | |           
	 __   __ __ _  _ __  _   __ _ | |__  | |  ___  ___ 
	 \ \ / // _` || '__|| | / _` || '_ \ | | / _ \/ __|
	  \ V /| (_| || |   | || (_| || |_) || ||  __/\__ \
	   \_/  \__,_||_|   |_| \__,_||_.__/ |_| \___||___/
	                                                   
**************************************************************************************/

//https://colorscheme.ru/#3x11T--.Uw0w0
$primary-color: #0065B2;
$darker-primary-color: #215A85;
$dark-color:	#004174;	
$lighten-primary-color: #3692D9;
$light-color: #61A5D9;

//bootstrap css var from --root.scss
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;


/**************************************************************************************
    _                       
   | |                      
   | |__    __ _  ___   ___ 
   | '_ \  / _` |/ __| / _ \
   | |_) || (_| |\__ \|  __/
   |_.__/  \__,_||___/ \___|        

**************************************************************************************/

a:hover {
    color: inherit;
    text-decoration: none;
}

/**************************************************************************************
 __          __              _  _____                          _____              __                                                 
 \ \        / /             | ||  __ \                        |  __ \            / _|                                                
  \ \  /\  / /___   _ __  __| || |__) |_ __  ___  ___  ___    | |__) |___  _ __ | |_  ___   _ __  _ __ ___    __ _  _ __    ___  ___ 
   \ \/  \/ // _ \ | '__|/ _` ||  ___/| '__|/ _ \/ __|/ __|   |  ___// _ \| '__||  _|/ _ \ | '__|| '_ ` _ \  / _` || '_ \  / __|/ _ \
    \  /\  /| (_) || |  | (_| || |    | |  |  __/\__ \\__ \   | |   |  __/| |   | | | (_) || |   | | | | | || (_| || | | || (__|  __/
     \/  \/  \___/ |_|   \__,_||_|    |_|   \___||___/|___/   |_|    \___||_|   |_|  \___/ |_|   |_| |_| |_| \__,_||_| |_| \___|\___|

**************************************************************************************/    

.first-screen{

	background: $dark;
	background: -moz-linear-gradient(-45deg, rgb(56,56,56) 0%, rgb(56,56,56) 15%, rgb(86,86,86) 15%, rgb(86,86,86) 48%, rgb(77,77,77) 48%, rgb(56,56,56) 72%, rgb(86,86,86) 72%, rgb(86,86,86) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(56,56,56)), color-stop(15%, rgb(56,56,56)), color-stop(15%, rgb(86,86,86)), color-stop(48%, rgb(86,86,86)), color-stop(48%, rgb(77,77,77)), color-stop(72%, rgb(56,56,56)), color-stop(72%, rgb(86,86,86)), color-stop(100%, rgb(86,86,86)));
	background: -webkit-linear-gradient(-45deg, rgb(56,56,56) 0%, rgb(56,56,56) 15%, rgb(86,86,86) 15%, rgb(86,86,86) 48%, rgb(77,77,77) 48%, rgb(56,56,56) 72%, rgb(86,86,86) 72%, rgb(86,86,86) 100%);
	background: -o-linear-gradient(-45deg, rgb(56,56,56) 0%, rgb(56,56,56) 15%, rgb(86,86,86) 15%, rgb(86,86,86) 48%, rgb(77,77,77) 48%, rgb(56,56,56) 72%, rgb(86,86,86) 72%, rgb(86,86,86) 100%);
	background: -ms-linear-gradient(-45deg, rgb(56,56,56) 0%, rgb(56,56,56) 15%, rgb(86,86,86) 15%, rgb(86,86,86) 48%, rgb(77,77,77) 48%, rgb(56,56,56) 72%, rgb(86,86,86) 72%, rgb(86,86,86) 100%);
	background: linear-gradient(135deg, rgb(56,56,56) 0%, rgb(56,56,56) 15%, rgb(86,86,86) 15%, rgb(86,86,86) 48%, rgb(77,77,77) 48%, rgb(56,56,56) 72%, rgb(86,86,86) 72%, rgb(86,86,86) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#a6a6a6', GradientType=1 );

	#fs-content{
		color:white;
	}
}

.the-lines-content{
	.block-line-svg{
		background-color: var($light);
	}	
}

.h-colour{
	color: $darker-primary-color;
}

.a-way--intro:hover{
		color: $primary-color;
		fill: $primary-color;
}


/**************************************************************************************
 ____   _               
|  _ \ | |              
| |_) || |  ___    __ _ 
|  _ < | | / _ \  / _` |
| |_) || || (_) || (_| |
|____/ |_| \___/  \__, |
                   __/ |
                  |___/
**************************************************************************************/    
section.posts-list{

    .h-post{

    	color: $dark;
    }
}


/**************************************************************************************

**************************************************************************************/    