@font-face
{
    font-family: 'drf';
    font-weight: normal;
    font-style: normal;;

    src: url(../fonts/drf/drf.eot);
    src: url(../fonts/drf/drf.eot?ojgp55#iefix) format('embedded-opentype'),
    url(../fonts/drf/drf.ttf) format('truetype'),
    url(../fonts/drf/drf.woff) format('woff'),
    url(../fonts/drf/drf.svg) format('svg');
}

[class^='drf-'],
[class*=' drf-']
{
    font-family: 'drf' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.drf-bc_notebook:before {
  content: "\e960";
}
.drf-bitcoin:before {
  content: "\e961";
}
.drf-btc_auditable:before {
  content: "\e962";
}
.drf-btc_integration:before {
  content: "\e963";
}
.drf-btc_invest:before {
  content: "\e964";
}
.drf-btc_phone:before {
  content: "\e965";
}
.drf-btc_public:before {
  content: "\e966";
}
.drf-btc_research:before {
  content: "\e967";
}
.drf-btc_to_card:before {
  content: "\e968";
}
.drf-btc_wallet:before {
  content: "\e969";
}
.drf-btc_workshop:before {
  content: "\e96a";
}
.drf-crypto_secured:before {
  content: "\e96b";
}
.drf-lined:before {
  content: "\e96c";
}
.drf-spinner:before {
  content: "\e96d";
}
.drf-unicorn:before {
  content: "\e96e";
}
.drf-play-btn:before {
  content: "\e95f";
}
.drf-grid:before {
  content: "\e95d";
}
.drf-rectangle:before {
  content: "\e95e";
}
.drf-nokia_outline:before {
  content: "\e95a";
}
.drf-ppl_outline:before {
  content: "\e95b";
}
.drf-sun_outline:before {
  content: "\e95c";
}
.drf-branch:before {
  content: "\e959";
}
.drf-drf14_fax:before {
  content: "\e958";
}
.drf-drf14_bulb:before {
  content: "\e949";
}
.drf-drf14_calc:before {
  content: "\e94a";
}
.drf-drf14_calendar:before {
  content: "\e94b";
}
.drf-drf14_country:before {
  content: "\e94c";
}
.drf-drf14_health:before {
  content: "\e94d";
}
.drf-drf14_left_arrow:before {
  content: "\e94e";
}
.drf-drf14_manufacturing:before {
  content: "\e94f";
}
.drf-drf14_office:before {
  content: "\e950";
}
.drf-drf14_plane:before {
  content: "\e951";
}
.drf-drf14_public:before {
  content: "\e952";
}
.drf-drf14_quote:before {
  content: "\e953";
}
.drf-drf14_right_arrow:before {
  content: "\e954";
}
.drf-drf14_satellite:before {
  content: "\e955";
}
.drf-drf14-arrow:before {
  content: "\e956";
}
.drf-stn14_home:before {
  content: "\e957";
}
.drf-cart_13:before {
  content: "\e93f";
}
.drf-chip_13:before {
  content: "\e940";
}
.drf-env_13:before {
  content: "\e941";
}
.drf-horse_13:before {
  content: "\e942";
}
.drf-human_13:before {
  content: "\e943";
}
.drf-mail_13:before {
  content: "\e944";
}
.drf-phone_13_2:before {
  content: "\e945";
}
.drf-phone_13:before {
  content: "\e946";
}
.drf-pin_13:before {
  content: "\e947";
}
.drf-quote_13:before {
  content: "\e948";
}
.drf-quote2:before {
  content: "\e93b";
}
.drf-pin-11:before {
  content: "\e93c";
}
.drf-envelope-11:before {
  content: "\e93d";
}
.drf-phone-11:before {
  content: "\e93e";
}
.drf-quote8:before {
  content: "\e939";
}
.drf-shopping-cart8:before {
  content: "\e93a";
}
.drf-aim7:before {
  content: "\e933";
}
.drf-cup7:before {
  content: "\e934";
}
.drf-user7:before {
  content: "\e935";
}
.drf-docs7:before {
  content: "\e936";
}
.drf-bar-graph7:before {
  content: "\e937";
}
.drf-plant7:before {
  content: "\e938";
}
.drf-lorry6:before {
  content: "\e92d";
}
.drf-lamp6:before {
  content: "\e92e";
}
.drf-building6:before {
  content: "\e92f";
}
.drf-cart6:before {
  content: "\e930";
}
.drf-line-graph6:before {
  content: "\e931";
}
.drf-plane6:before {
  content: "\e932";
}
.drf-user:before {
  content: "\e928";
}
.drf-crown:before {
  content: "\e926";
}
.drf-cup:before {
  content: "\e927";
}
.drf-polygon:before {
  content: "\e929";
}
.drf-person-globe:before {
  content: "\e923";
}
.drf-head:before {
  content: "\e924";
}
.drf-arm-leaf:before {
  content: "\e925";
}
.drf-phone:before {
  content: "\e921";
}
.drf-phone6:before {
  content: "\e92a";
}
.drf-clock6:before {
  content: "\e92b";
}
.drf-pin6:before {
  content: "\e92c";
}
.drf-clock:before {
  content: "\e922";
}
.drf-plus:before {
  content: "\e920";
}
.drf-earth:before {
  content: "\e91d";
}
.drf-chart-refresh:before {
  content: "\e91e";
}
.drf-chart-monitor:before {
  content: "\e91f";
}
.drf-hexagon:before {
  content: "\e91c";
}
.drf-metals:before {
  content: "\e916";
}
.drf-oil:before {
  content: "\e917";
}
.drf-target:before {
  content: "\e918";
}
.drf-rating_down:before {
  content: "\e914";
}
.drf-libra:before {
  content: "\e915";
}
.drf-diamond:before {
  content: "\e90c";
}
.drf-idea:before {
  content: "\e90d";
}
.drf-stats:before {
  content: "\e90e";
}
.drf-badge:before {
  content: "\e90f";
}
.drf-security:before {
  content: "\e910";
}
.drf-binoculars:before {
  content: "\e911";
}
.drf-mans:before {
  content: "\e912";
}
.drf-nokia:before {
  content: "\e913";
}
.drf-testimonials-new-2:before {
  content: "\e90b";
}
.drf-envelope:before {
  content: "\e91a";
}
.drf-email:before {
  content: "\e908";
}
.drf-iphone:before {
  content: "\e909";
}
.drf-location-2:before {
  content: "\e90a";
}
.drf-marker:before {
  content: "\e919";
}
.drf-check:before {
  content: "\e907";
}
.drf-truck:before {
  content: "\e902";
}
.drf-lamp:before {
  content: "\e903";
}
.drf-cart-2:before {
  content: "\e91b";
}
.drf-cart:before {
  content: "\e904";
}
.drf-home:before {
  content: "\e905";
}
.drf-graph:before {
  content: "\e906";
}
.drf-airplane:before {
  content: "\e901";
}
.drf-compass:before {
  content: "\e900";
}