html,body,main{
	min-height:100%;
}
.first-screen{
	text-align: center;
	min-height: 650px;
	padding: 50px 20px;
	height:100%;
	background-color: #0097ce;
	.fs-fullwidth{
		width: 80%;
	}
	#fs-svg{
		opacity: 0;
	}
}
