/**************************************************************************************
                      ___                 
                     / _ \                
 __  __  ___        | | | |  _ __   __  __
 \ \/ / / __|       | | | | | '_ \  \ \/ /
  >  <  \__ \       | |_| | | |_) |  >  < 
 /_/\_\ |___/        \___/  | .__/  /_/\_\
                            | |           
                            |_|          
**************************************************************************************/
.first-screen{
	text-align: center;
	min-height: 350px;
	padding: 60px 0;
	#fs-content{
	}
	#fs-wp-tl{
		width:100%;
		max-width: 300px;
		margin-top: 50px;
	}
}

.the-lines-content{
	
	.block-line-svg{
		min-height: 300px;
		width: 100%;
	}	
}

/**************************************************************************************
                          _____   ______     __                 
                         | ____| |____  |   / /                 
  ___   _ __ ___         | |__       / /   / /_    _ __   __  __
 / __| | '_ ` _ \        |___ \     / /   | '_ \  | '_ \  \ \/ /
 \__ \ | | | | | |        ___) |   / /    | (_) | | |_) |  >  < 
 |___/ |_| |_| |_|       |____/   /_/      \___/  | .__/  /_/\_\
                                                  | |           
                                                  |_|           
**************************************************************************************/
@media (  min-width: $breakpoint-sm  ){

}

/**************************************************************************************
                  _         ______     __     ___                 
                 | |       |____  |   / /    / _ \                
  _ __ ___     __| |           / /   / /_   | (_) |  _ __   __  __
 | '_ ` _ \   / _` |          / /   | '_ \   > _ <  | '_ \  \ \/ /
 | | | | | | | (_| |         / /    | (_) | | (_) | | |_) |  >  < 
 |_| |_| |_|  \__,_|        /_/      \___/   \___/  | .__/  /_/\_\
                                                    | |           
                                                    |_|          
**************************************************************************************/
@media (  min-width: $breakpoint-md  ){
	
	.first-screen{
		padding: 100px 0;
		#fs-wp-tl{
			margin-top: 0;
		}
	}
}
/**************************************************************************************
  _                  ___     ___    ___                 
 | |                / _ \   / _ \  |__ \                
 | |   __ _        | (_) | | (_) |    ) |  _ __   __  __
 | |  / _` |        \__, |  \__, |   / /  | '_ \  \ \/ /
 | | | (_| |          / /     / /   / /_  | |_) |  >  < 
 |_|  \__, |         /_/     /_/   |____| | .__/  /_/\_\
       __/ |                              | |           
      |___/                               |_|           
**************************************************************************************/
@media (  min-width: $breakpoint-lg  ){

}
/**************************************************************************************
         _         __   __    ___     ___                 
        | |       /_ | /_ |  / _ \   / _ \                
 __  __ | |        | |  | | | (_) | | (_) |  _ __   __  __
 \ \/ / | |        | |  | |  \__, |  \__, | | '_ \  \ \/ /
  >  <  | |        | |  | |    / /     / /  | |_) |  >  < 
 /_/\_\ |_|        |_|  |_|   /_/     /_/   | .__/  /_/\_\
                                            | |           
                                            |_|           
**************************************************************************************/
@media (  min-width: $breakpoint-xl  ){

}